input {border:0;outline:0;}
input:focus {outline:none!important;}

.app{
  width:99.7%;
  height:95vh;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  position: absolute;
}
.list::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.form{
  margin: auto;
  margin-top:15vh;;
}
.list{
  max-height: 200px;
  margin: auto;
  margin-top: -10vh;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  position: relative;
}